#goods_container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    align-content: center;
    max-width: 800px;
    padding: 25px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #dbdbdb;
    overflow: hidden;
}

h2 {
    margin: 0;
}

#items_table {
    margin: 0 auto;
    min-width: 100%;
    width: auto;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
}

#tableContainer {
    overflow-x: auto;
}

td,
th {
    padding: 5px;
    
}

tr {
    border-bottom: 1px solid #ddd;
}

tr:nth-last-child(2) {
    border-bottom: none;
}

tr:first-child {
    border-bottom: none;
}

tr:hover {
    background-color: rgb(214, 242, 255);
}

#items_table td:last-child,
#items_table th:last-child {
    text-align: right;
}

#items_table td:last-child {
    padding: 2px;
}

#items_table #deleteButton {
    background-color: rgb(255, 66, 66);
    border: none;
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #f0f0f0;
    border-radius: 25%;
    margin-right: 5px;
}

#delete_icon {
    display: block;
    width: 14px;
    height: 14px;
    background-image: url("../../assets/trash-bin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: invert(1);
}


#items_table #deleteButton:hover {
    background-color: rgb(255, 29, 29);
    color: #f0f0f0;
}

/* #items_table tr th:nth-last-child(2), td:nth-last-child(2) {
    text-align: right;
} */

th {
    text-align: left;
    background-color: #008db4;
    color: white;
}

#items_table tr:last-child {
    background-color: #39616c;
    color: white;
}

#items_table tr:last-child td {
    border: none;
}

#items_table tr:first-child th {
    border: none;
}

#goodsInputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    row-gap: 5px;
    margin: 8px 0;
    width: 100%;
}

#goodsInputContainer p {
    gap: 30px;
}

.goods_input {
    flex-grow: 1;
    background-color: white;
    padding: 8px;

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: auto;
}

select.goods_input {
    cursor: pointer;
}

button.goods_input {
    color: white;
    cursor: pointer;
    background-color: #008db4;
}

button.goods_input:hover {
    background-color: #007393;
}

.goods_input:hover {
    background-color: rgb(224, 240, 246);
}

select {
    cursor: pointer;
    width: max-content;
}

#currency_input {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

#currencyContainer {
    display: flex;
    gap: 5px;
    align-items: center;
}

#currencyContainer p {
    margin: 0;
}

#type_input, #price_input {
    min-width: 120px;
   max-width: 200px;
}

button.goods_input {
    max-width: 100px;
 }

#name_input{
   min-width: 100px;
   max-width: 200px;
}

span.sortButton {
    color: rgb(255, 255, 255);
    font-size: 10px;
    display: inline-flex;
    margin: 0;
    height: 12px;
    width: 12px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}